.modal-window-bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000C20;
    opacity: 0.88;
    position: absolute;
    z-index: 100000;
}

.modal-window-bonus__scale-cont {
    position: relative;
    transform-origin: 50% 25%;
    width: 1263px;
    height: 720px;
}
.modal-window-bonus__t0 {
    top: 120px;
    left: 81px!important;
    color: #BBDEDA!important;
    text-align: center!important;
    font-size: 40px!important;
}

.modal-window-bonus__t1 {
    top: 588px;
    color: #FFAF24!important;
}

.modal-window-bonus__t2 {
    top: 588px;
    left: 150px!important;
    white-space: nowrap!important;
}

.modal-window-bonus__t3 {
    top: 618px;
}

.modal-window-bonus__text {
    position: absolute;
    width: 85%;
    left: 70px;
    align-items: center;
    text-align: left;
    font-family: 'MyriadPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    text-shadow: 3px 4px 1px #032A40, -3px -3px 1px #032A40, -3px 4px 1px #032A40, 3px -3px 1px #032A40;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    white-space: normal;
    z-index: 100;
}

.modal-window-bonus__cards {
    position: absolute;
    display: flex;
    left: 57px;
    top: 201px;
    z-index: 10;
}

.bonus-card-face {
    width: 225px;
    height: 345px;
    position: absolute;
    overflow:hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.bonus-card-back {
    transform: rotateY(-180deg);
}

.bonus__card-text {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'MyriadPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    white-space: normal;
    font-size: 40px;
    z-index: 3;
}

.bonus__card-body {
    width: 225px;
    height: 345px;
    transform-style: preserve-3d;
}

.bonus__card-wrapper {
    position: relative;
    cursor: pointer;
    /*transform-origin: 50% 50%;*/
    perspective: 800px;
    width: 225px;
    height: 345px;
    margin-right: 5px;
}

.bonus__card {
    position: absolute;
    left: 0;
    width: 225px;
    height: 345px;
}

#bonus__card1-pic,
#bonus__card2-pic,
#bonus__card3-pic,
#bonus__card4-pic,
#bonus__card5-pic {
    z-index: 4;
    left: 0;
}

.modal-window-bonus__back {
    position: absolute;
    left: 0;
    width: 1263px;
    height: 720px;
}