.modal-window-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000C20;
    opacity: 0.88;
    position: absolute;
    z-index: 100000;
}

.modal-window-rules__scale-cont {
    position: relative;
    transform-origin: 50% 25%;
    width: 1057px;
    height: 665px;
}

.modal-window-rules__t1 {
    top: 140px;
    flex: 0 0 auto;
    width: 100%;
}

.modal-window-rules__t2 {
    top: 210px;
}

.modal-window-rules__t3 {
    top: 330px;
}

.modal-window-rules__t4 {
    top: 450px;
    color: #FFAF24!important;
}

.modal-window-rules__t5 {
    top: 500px;
}
.modal-window-rules__text {
    position: absolute;
    width: 85%;
    left: 70px;
    align-items: center;
    text-align: left;
    font-family: 'MyriadPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: normal;
    /*height: 25px;*/
    font-size: 40px;
    color: #ffffff;
    white-space: normal;
    z-index: 100;
}

.modal-window-rules__close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 973px;
    top: 42px;
    z-index: 10;
}

.modal-window-rules__back {
    position: absolute;
    width: 1057px;
    height: 665px;
    left: 0px;
}