body {
	width:100%;
	position:relative;
}
body {
	color: #333;
	font: 16px/1.6em Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0;
	background-color:#0c5b8d;
}
.contWrapSize { 
	width:100%;
	overflow:hidden;
}
.white,
.white * {
	color:white !important;
}
.logWrap {
	font-size:12px;
	line-height:1.2em;
}
footer { padding:20px;}
h2 {
	font-size:20px;
	line-height:1.2em;
	color:#000;
	text-transform:uppercase;
	letter-spacing:1px;
}
.titleLine {
	display:inline-block;
	position:relative;
}
.titleLine:after {
	content:'';
	border:0;
	border-bottom:1px solid rgba(255,255,255,0.3);
	width:2000px;
	height:0;
	position:absolute;
	left:100%;
	margin-left:10px;
	top:50%;
}
.titleLine:before {
	content:'';
	border:0;
	border-bottom:1px solid rgba(255,255,255,0.3);
	width:2000px;
	height:0;
	position:absolute;
	right:100%;
	margin-right:10px;
	top:50%;
}
.sectionItem {
	padding:60px 0;
}
.bgGray {
	background-color:#f1f1f1;
}
.conteiner {
	margin: auto;
	text-align:center;
	padding:20px;
	position:relative;
	max-width:1200px;
}

.autor {
	
	
}
.logoMass {

}
.logoMasscode {


}
.descr {
	text-align: left;
	margin-left:30px;
	margin-right:30px;
}
.slidik { margin:auto !important}
pre {text-align:left} 

.navPr {
	margin:0 0 40px ;
}
.navPr a {
	display:inline-block;
	vertical-align:top;
	background:#0769AD;
	color:#fff;
	font-weight:700;
	text-decoration:none;
	padding:5px 15px;
	margin:0 5px;
	border:1px solid #0769AD;
}
.navPr span {
	display:inline-block;
	vertical-align:top;
	background:#fff;
	color:#000;
	font-weight:700;
	text-decoration:none;
	padding:5px 15px;
	margin:0 5px;
	border:1px solid #fff;
	
}

tr:nth-of-type(odd) { 
  background: rgba(0,0,0,0.02); 
}
th { 
  background: #fff; 
  font-weight: bold; 
  color:#000;
}







.value,
.paramTitle {color:#000; background-color:#E6ECFF; padding:3px; display:inline-block; border-radius:3px; box-shadow:0 6px 3px -3px rgba(0,0,0,0.1); border:1px solid #fff; text-transform:none;}

.addContent,
.removeContent,
.destroyBtn,
.updateBtn { background: #0769AD; color:#fff; display:inline-block; padding:10px 20px; font-size:16px;}

.btnWrap {text-align:center; padding:30px 0;}
.mw100 {
	max-width:100%;
}
.titleLineWrap {
	overflow:hidden;
}
.demoWrap {
	padding:0;
	text-align:left;
}
.bgBlue {
background: #2989d8; /* Old browsers */

}
.navbar-toggle .icon-bar {
    background-color: #563d7c;
}
.cur {
	opacity:1 !important;
	text-decoration:none !important;
	font-weight:700;
}
pre { border:0; padding:0 !important; margin:0 !important;}
h1 a {
	
}
hr { margin:0}
.previewDemoMain { padding:16px; background-color:rgba(255,255,255,0.1); margin-bottom:16px;}
.logoPic {
	height:20px;
	margin-top:15px;
}
.productLogoWrap {
	width:100px;
	max-width:100%;
	text-align:center;
	border:1px solid #fff;
	position:relative;
	float:left;
	margin-right:20px;
}
.w100 {
	width:100%;
}
.productLogoWrapSmall {
	width:50px;
	height:50px;
	text-align:center;
	border:1px solid #fff;
	margin:auto;
	position:relative;
	float:left;
	margin-right:10px;
}
.p50 {
	padding:50px;
}

.navWrap {
	width:300px;
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	overflow-y:auto;
	height:100%;
	/*background:#292b38;*/
	background-color:#fff;
	border-right:1px solid #f1f1f1;
	
	z-index:500;
}
.demoWrap {padding:0 16px 30px}
.navWrap .demoWrap h3 {
	font:10px/1.2em Arial, Helvetica, sans-serif;
	color:#ccc;
	letter-spacing:3px;
}

.navWrap .col-md-4 {
	display:block;
	width:100%;
	float:none;
	padding:0;
}
.navWrap a {
	padding:8px 16px 7px;
	border-bottom:1px solid #fff;
	background-color:#fff;
	margin:0 -16px;
	text-decoration:none;
	display:block;
	overflow:hidden;
	font: 700 12px/1.4em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#000;
	position:relative;
}
.no-touch .navWrap a:hover,
.navWrap a.cur {
	opacity:1;
	background-color:#f1f1f1;
	color:#000;
}
.touch .navWrap a:active {
	opacity:1;
	background-color:rgba(0,0,0,0.1);
}
.navWrap a:after {
	display:none;
}
.navWrap h3 {
	color:#000;
	text-transform:uppercase;
	font:700 14px/1.2em Arial, Helvetica, sans-serif;
	margin:0;
	padding:16px 0;
}
.navWrap .row {
	margin:0;
}
.contWrap {
	background-color:#fafafa;
	position:relative;
	margin-left:300px;
	overflow:hidden;
	overflow-y:auto;
}
.container,
.conteiner {
	width:auto !important;
	max-width:inherit;
	margin:0;
	padding:50px;
}
.headerWrap + .conteiner { padding-bottom:0;}

.p50 .container {padding:0;}
.logoPic {
	float:left;
}
.linkId {
	width:35px;
	height:35px; 
	background-color:red;
	text-align:center;
	line-height:35px;
	display:inline-block;
	color:#fff;
	float:left;
	margin-right:16px;
	font-size:16px;
	font-weight:400;
}
.lead { font:19px/1.2em Arial, Helvetica, sans-serif;}
.productLogoWrap+h1 { margin:0}
.productLogoWrapSmall+h1 {
	margin:0;
	padding-top:5px;
}
h1 br {display:none}
h1 a { opacity:0.5}
h1 a:hover {opacity:1}
.previewDemoMain h4 {
	text-transform:uppercase;
}
.pageTitle { text-transform:uppercase;}
.mWrap { margin-bottom:40px;}
.toolItem { padding:0 0 20px 0; margin:0 0 20px 0; border-bottom:1px solid #fafafa;}
.form-control { margin-bottom:20px;}
input[type=radio],
label { cursor:pointer;}
.toolItem label { margin-right:20px;}
.toolItem { font:12px/1.2em Arial, Helvetica, sans-serif;}
.paramTitle { color:#000; font-weight:700; padding:5px; display:inline-block; margin-right:20px; line-height:1.2em; margin-bottom:5px; border-radius:3px;}

.menuBtn {
	float:left;
	width:30px;
	height:30px;
	position:relative;
	display:none;
	margin-right:16px;
	cursor:pointer;
}
.menuBtn:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border-top:6px solid #fff;
	border-bottom:6px solid #fff;
}
.menuBtn:before {
	content:'';
	position:absolute;
	left:0;
	top:40%;
	width:100%;
	height:20%;
	background-color:#fff;
}
.toolItem { text-align:left;}
.comName {
	background-color:rgba(0,0,0,0.5);
	padding:3px 10px;
	text-transform:uppercase;
}
.comDate {
	background-color:rgba(0,0,0,0.1);
	padding:3px;
}
.comTitle {
	background-color:rgba(255,255,255,0.3);
	padding:3px 10px;
}
.comLink {
	background-color:#0C6;
	padding:3px;
}
.comItem { display:inline-block; vertical-align:top; padding:0 20px 0 0;}
.persTop {
	max-width:100%;
	margin-bottom:-300px;
}
.log {
	height:50vh;
	overflow:scroll;
	
}
.logItem{
	font:16px/1.2em arial;
	padding:3px;
	border-top:1px solid #ccc;
}
.subNav a { text-transform:none; padding-left:67px; position:relative;}
.subNav a:before {
	content:'#';
	position:absolute;
	top:50%;
	left:30px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
} 
.headerWrap {
	position:relative;
	top:0;
	left:0;
	z-index:400;
	padding:13px 50px;
}
.hBtn {
	padding-top:7px
}

.headerWrap {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.videoWrap {
	max-width:560px;
	margin:auto;
	padding:20px 20px;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tabs .ui-tabs-nav {
    height: 2.35em;
    text-align: center;
	margin-bottom:40px !important;
}
.tabs .ui-tabs-nav li {
    display: inline-block !important;
    float: none !important;
    margin: 0em;
	border-bottom:3px solid #eee !important;
}
.tabs .ui-tabs-nav li.ui-tabs-active {
	border-bottom:3px solid #09F !important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: transparent !important;
}
.navTitle {
	height:76px;
	border-bottom:1px solid #f1f1f1;
	margin-bottom:15px;
	text-align:left;
	font:30px/76px Arial, Helvetica, sans-serif;
	color:#000;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px) {
	
	.hBtn {
		padding-top: 0;
	}
	h1 br {
		display: block;
	}
	.headerWrap { left:0; padding:16px 0;}
	.p50 .container {padding:0 16px;}
	
	.contWrap {
		padding-top:62px;
	}
	
	.previewDemoMain h4 {
		text-align:center;
		padding-bottom:20vh;
		font-size:48px;
	}
	.comItem { font:50px/1.2em Arial, Helvetica, sans-serif;}
	.previewDemoMain {
		padding: 20vh 16px;
	}
	.tpl_1 .mWrap {
    	font-size: 56px !important;
		line-height:1.2em;
	}
	.persTop { display:none}
	.logoPic {
		float:none;
	}
	/* Force table to not be like tables anymore */
	.table-responsive table, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-responsive td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40% !important; 
	}
	
	.table-responsive td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	

	/*
	Label the data
	*/
	.optionsTable td:nth-of-type(1):before { content: "Option"; }
	.optionsTable td:nth-of-type(2):before { content: "Default value"; }
	.optionsTable td:nth-of-type(3):before { content: "Datatype"; }
	.optionsTable td:nth-of-type(4):before { content: "Description"; }
	
	
	.methodsTable td:nth-of-type(1):before { content: "Method"; }
	.methodsTable td:nth-of-type(2):before { content: "Description"; }
	
	.eventsTable td:nth-of-type(1):before { content: "Event"; }
	.eventsTable td:nth-of-type(2):before { content: "Description"; }
	
	
	
	
	header { text-align:center;}
	.p50 {padding:16px 0}
	.h1, h1 {
		font-size: 12px;
		text-indent: -6px;
		vertical-align:top;
	}
	h1 a { display:none}
	
	.container, .conteiner {
		padding: 16px;
	}
	.lead { padding:0 16px; text-align:center; font-size:11px; padding-top:10px;}
	.btn  {white-space:normal}
	.productLogoWrapSmall {
		height: 30px;
		width: 30px;
	}
	.navWrap {
		width: 75%;
		-webkit-transform:translate(-100%, 0);
		-moz-transform:translate(-100%, 0);
		-ms-transform:translate(-100%, 0);
		-o-transform:translate(-100%, 0);
		transform:translate(-100%, 0);
	}
	.navOpen .navWrap {
		width: 75%;
		-webkit-transform:translate(0, 0);
		-moz-transform:translate(0, 0);
		-ms-transform:translate(0, 0);
		-o-transform:translate(0, 0);
		transform:translate(0, 0);
	}
	
	.contWrap {
		width:100%;
		margin-left:0;
		position:relative;
		left:0;
	}
	
	
	.navOpen .contWrap {
		
		left:75%;
		opacity:0.6;
		
	}
	.headerWrap {
		position:fixed;
		left:0;
		top:0;
		width:100%;
		z-index:9999;	
	}
	.navOpen .headerWrap {
		left:75%;
		top:0;
		width:100%;
		z-index:9999;
	}
	
	.sectionItem {
		padding: 16px;
	}
	.menuBtn { display:block}
	
	.productLogoWrap {
		float: none;
		margin-right: auto;
		width: 60px;
		margin-left: auto;
		margin-bottom: 16px;
	}
	.productLogoWrap + h1 {
		margin: auto;
		text-align:center;
	}
	h2 .value { font-size:13px;}
	.headerWrapMain .menuBtn {
		position:fixed;
		top:16px;
		left:16px;
		width:50px;
		height:50px;
		border:10px solid #0c5b8d;
		background-color:#0c5b8d;
		z-index:99999;
	}
	.navOpen .headerWrapMain .menuBtn {
		left:75%;
		margin-left:16px;
	}
	.contWrapMain { padding-top:0;}
	.mWrap {
		margin-bottom:0;
	}
	
}
ol {list-style-position:inside;}
