@font-face {
    font-family: "MyriadPro";
    src: local("MyriadPro"),
    url("./assets/fonts/MyriadPro-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: local("MyriadPro"),
    url("./assets/fonts/MyriadPro-Regular.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./assets/fonts/RobotoBlack.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./assets/fonts/Roboto-Medium_1.ttf") format("truetype");
    font-weight: 500;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

@media screen and (max-device-width: 480px){

}

.game-button:hover {
    filter: contrast(1.5);
    cursor: pointer;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    /*min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;*/
    width: 100%;
    height: 100%;
    z-index: -9999;
}

#root {
    width: 100%;
    height: 100%;
}

.preloader-game {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: 1s;
    z-index: 1000;
}
.preloader-game-logo {
    align-self: center;
    width: auto;
    height: 50%;
    max-height: 576px;
    user-select: none;
}
.preloader-game-bar-cont {
    position: relative;
    align-self: center;
    max-width: 254px;
    width: 20vh;
    height: 20vh;
    max-height: 254px;
    user-select: none;
    margin-bottom: 10vh;
}
.preloader-game-bar, .preloader-game-bar-back {
    position: absolute;
    left: 0px;
    width: 100%;
    user-select: none;
}
.preloader-game-bar-back {
    max-width: 254px;
    max-height: 254px;
}
.preloader-game-bar {
    max-width: 59%;
    max-height: 73%;
    left: 20%;
    top: 11%;
    animation:spin 3s linear infinite;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
}
.preloader-game-bar {
    z-index: 1;
    clip-path: inset(0px);
}
.preloader-game-text {
    font-size: 2em;
    background: linear-gradient(180deg, #ffffff 20%, #CBFF7E 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    border-image: linear-gradient(180deg, #ffffff 20%, #CBFF7E 60%);
    border-image-slice: 1;
    border:none;
}

.hide-settings {
    display: none!important;
}

.show-settings {
    display: block!important;
}

#settings-popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#black-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#settings-responsive {
    position: absolute;
    width: 1461px;
    height: 997px;
    z-index: 10;
}
#change-pass {
    display: none;
    position: absolute;
    left: 176px;
    z-index: 20;
}

#change-pass-text {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
    left: 250px;
    top: 440px;
    height: 319px;
}
#change-pass-text input {
    border: none;
    outline:none;
    color: white;
    font-size: 40px;
    background: transparent;
    text-align: center;
    width: 100%;
}

#change-pass-change {
    position: relative;
    z-index: 10;
    width: 645px;
    top: 467px;
    left: 235px;
    cursor: pointer;
}

#change-pass-change:hover {
    filter: brightness(1.75);
}

#change-pass-back {
    position: absolute;
    top: 0;
}

#info-user {
    /*width: 90%;
    height: 90%;*/

}

#info-user-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
    left: 445px;
    top: 260px;
    width: 560px;
    height: 670px;
}

#info-user-text-name {
    border: none;
    outline:none;
    color: #FAD123;
    font-size: 40px;
    font-family: 'Patua One', sans-serif;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    width: 100%;
}

#info-user-text-pass {
    border: none;
    outline:none;
    color: white;
    font-size: 40px;
    background: transparent;
    text-align: center;
    width: 100%;
}

#info-user-text-tel {
    border: none;
    outline:none;
    color: white;
    font-size: 40px;
    background: transparent;
    text-align: center;
    width: 100%;
}

.no-arrow {
    -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#info-user-right {
    position: relative;
    display: flex;
    width: 254px;
    height: 720px;
    top: 209px;
    left: 1020px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
}

#info-user-check img {
    left: 150px;
    position: relative;
}

#info-user-change {
    cursor: pointer;
}

#info-user-change:hover {
    filter: brightness(1.75);
}

#info-user-add {
    cursor: pointer;
}

#info-user-add:hover {
    filter: brightness(1.75);
}

#info-user-back {
    position: absolute;
    top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}